:markdown
  ## Digital signatures

  If you haven't yet read our [guide to encryption](/#docs/overview/encryption) then please do so first. In this section we will explain 
  what digital signatures are, why they're useful, and how they work within the context of email encryption.

  TODO...

  ### Technical details

  Autonomail uses PGP signatures based on the [OpenPGP standard](). The specific implementation used is an [Emcripten port of GPG2]().
