:markdown
  ## Introduction

  The key idea which underpins Autonomail's security model: **You do not need to trust our server.**
  
  Even the most secure corporate systems 
  get hacked into. We have architected our service so that the key security features which protect your privacy are executed within our 
  [client app](/#docs/client) running on your device and not on our server. This is also why we open source our app - so that you can see for yourself 
  exactly 
  what it's doing and even build the app yourself if need be.

  What to read next:

  * Our [guide to encryption](/#docs/overview/email-encryption) helps you understand how and why email encryption works.
  * We use [zero-knowledge](/#docs/overview/zero-knowledge) authentication to ensure your password can never be stolen from us.
  * Find out [what you can do](/#docs/overview/what-you-can-do) to improve the security and privacy of your email.
