:markdown
  ## Introduction

  The key idea which underpins Autonomail's security model:

  > You do not need to trust our server.
  
  Even the most secure corporate systems 
  get hacked into. We have architected our service so that the key security features which protect your privacy are executed within our 
  [client app](/#docs/client) running on your device and not on our server. This is also why we open source our app - so that you can see for yourself 
  exactly 
  what it's doing and even build the app yourself if need be.

  What to read next:

  * Our [guide to encryption](/#docs/overview/encryption) helps you understand how and why email encryption works.
  * We explain why [digital signatures](/#docs/overview/digital-signatures) are useful.
  * We use [zero-knowledge](/#docs/overview/zero-knowledge) authentication to ensure your password can never be stolen from us.
  * Read about how our [client app](/#docs/client) does the bulk of the work of securing your emails and data.
  * Find out how we ensure [your data is secure on our server](/#docs/server).
