:markdown
  ## Introduction

  The key idea which underpins Autonomail's security model: **You do not have to trust us.**
  
  Our service is not designed to protect your identity but it designed to protect your privacy. 

  We do not hold the 
  encryption keys for your email. We never send your password to our servers. We have architected our service so that 
  the key security features which protect your privacy are executed within our 
  [client app](/#docs/client) running on your device and not on our server. This is also why we have open sourced our app - so that you can 
  see for yourself 
  exactly 
  what it's doing and even build it yourself if need be.
  
  In this section:

  * [Guide to encryption](/#docs/overview/email-encryption) - understand how and why email encryption works.
  * [Zero-knowledge](/#docs/overview/zero-knowledge) - secure authentication to ensure your password can never be stolen from us.
  * [Legal issues](/#docs/overview/legal) - when we are legally obliged to hand over your data, and how we protect you in such cases.
  * [What you can do](/#docs/overview/what-you-can-do) - our tips on improving your email privacy and security. 
