:markdown
  ## Legal requirements

  We may receive requests to share data with law enforcement and other Governmental organisations, as per the laws of the countries within 
  which we operate. We have to comply with such requests. We protect you as much as we can by carefully scrutinising every request which we 
  receive to ensure that it is legally sound and well defined. 

  More importantly we have architected our system in wuch a way as to  minimize the amount of information we hold about you in the first 
  place. **Even we cannot read your encrypted emails**.
   
  However any un-encrypted emails in your mailbox will be readable by anybody who gains access to your account, legally or otherwise. Thus 
  to truly guarantee privacy it is essential that you use encryption in your day-to-day communications as much as possible - 
  see ["what you can do"](/#docs/overview/what-you-can-do) for more information.
