:markdown
  ## What you can do

  We do everything we can to make email private and secure. But there are many things you can do to improve the privacy of your 
  email.

  ### Get more people using Auotnomail

  As explained in our [encryption guide](/#docs/overview/email-encryption) true end-to-end privacy can only be guaranteed when you and the 
  person you are communicating with both use an encrypted email system like Autonomail. Thus the more people you can encourage to either use 
  Autonomail or an equivalent PGP-enabled email system the more private your messages can be. 

  _Note: as explained in the encryption guide, Autonomail automatically digitally signs all your outgoing emails, whether encrypted or not, 
  so that recipients can verify that the email is authentic and hasn't been tampered with._

  ### Use trusted software and hardware

  Even if the Autonomail app is secure the web browser running it might not be. To be absolutely sure that you're running nothing 
  malicious which might be able to eavesdrop on your password or messages, we recommend the following steps:

  * Run an open source operating systems such as Linux.
  * Run open source browsers such as Chromium and Firefox.
  
  If running a desktop then build 
  a computer yourself from individually ordered parts. For ultimate safety have run Autonomail on a device dedicated for the purpose.

  ### Leave few traces of your activity

  Use something like [Tails]() running from a USB pen drive to 
  both anonymize your internet access as well as prevent any traces or logs from being left on your device. 
  
   

  