:markdown
  ## Zero-knowledge system 

  Autonomail uses a [Zero-knowledge proof](http://en.wikipedia.org/wiki/Zero-knowledge_proof)-based authentication system. What this means is 
  that **your password is never stored or sent to our server**. Even if our server is compromised your password will 
  not be. 

  Since we never know your password we cannot help you recover it in case you forget it. This has implications for other aspects of our 
  service.  We use [encryption keys](/docs/overview/email-encryption) derived from your password to protect your emails. So if you happen to forget 
  your password then you will not be able to read 
  previously sent and received encrypted emails. However, you will be able to reset your password and still access your account. Once you're 
  back in you will be able to create new encryption keys based on your new password and continue using our service.

  Other third-party service which use zero-knowledge authentication often also provide a web-based login feature for users who don't have the 
  client app to hand. We do not provice such a feature as we consider it to be too much of a security risk; it is very difficult to 
  ensure that Javascript downloaded by your browser when you load a page from the internet [hasn't been maliciously tampered 
  with](http://www.matasano.com/articles/javascript-cryptography/).


  ### Technical details

  We use the [Secure Remote Password](http://srp.stanford.edu/design.html) protocol for zero-knowledge authentication. The implementation 
  we use is provided by [SJCL](http://bitwiseshiftleft.github.io/sjcl/).
