:markdown
  ## Client application

  The Autonomail client application is a web app which you download once onto your device and then run locally whenever you wish to 
  access your email and manage your account. We do not provide a login page on our website so the app is your only gateway for 
  managing all aspects of your account. By downloading it once (as you would a normal app) instead of loading it from our website 
  every time, we are able to avoid many of the [security pitfalls](http://www.matasano.com/articles/javascript-cryptography/) which 
  trip up other web apps which involve cryptography.

  It is important that you have 
  confidence in the client app's security and privacy features. We have 
  open sourced our app so anybody can easily verify what 
  it does. This also means that you can build the app yourself from the source code if 
  you don't trust the pre-built downloadable packages we provide. 

  The source code is available at:  [https://github.com/autonomail/client](https://github.com/autonomail/client)

  We welcome any and all bug reports and other feature suggestions for the app at the above URL. If you're a developer please feel free to 
  fork our project and improve what we've made.

  What to read next:

  * Find out how we [secure your data on your device](/#docs/client/secure-data).
// * Learn about our [privacy indicators](/#docs/client/privacy-indicators) which make it easy to tell how secure your emails are.
  
