:markdown
  ## Privacy indicators

  When you view an email message (whether it's one you sent or recieved) you will see a few indicators in the top-right:

  {image here}

  These indicators tell how you private that message is. Clicking on them will reveal more details, including how the privacy level 
  of the message changed as it travelled between you and the person you communicated with. The indicators also reveal whether the message 
  has been [digitally signed](/#docs/overview/digital-signatures).
  
  We will now go over all the possible privacy indicators...

  ### TODO: no encryption, message not signed by sender

  ### TODO: no encryption, message signed by sender

  ### TODO: full encryption, message signed by sender

